---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a skilled computer engineer with a B.Tech degree from the Central
    Institute of Technology, Kokrajhar, I have over four years of experience in
    software development, systems engineering, and project management. My
    expertise includes programming languages such as Python, JavaScript, and
    C++, and I have worked on data analysis and machine learning projects. I am
    committed to collaboration and effective communication to achieve common
    goals with cross-functional teams.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.Tech in Computer Science and Engineering"
      subtitle="2019 to 2023 at Central Institute of Technology, Kokrajhar, Assam"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Machine Learning Intern"
      subtitle="From 3-Jan-2022 to 3-Feb-2022 at Acmegrade"
      desc="During my internship at Acmegrade, I gained practical experience in the field of Machine Learning. I developed proficiency in Python programming language and data manipulation using Pandas library. I also learned the fundamental concepts of Machine Learning, including supervised and unsupervised learning, model training and evaluation, and data preprocessing techniques. Through hands-on projects and exercises, I gained a deeper understanding of regression, classification, and clustering algorithms. Overall, the internship provided me with a solid foundation in Machine Learning and equipped me with the skills and knowledge necessary to pursue further studies in this exciting field."
    />
    <TimeLineElement
      title="Software Development Intern"
      subtitle="From 1-Aug-2022 to 1-Nov-2022 at TechVariable"
      desc="During my internship at TechVariable Pvt. Ltd. in the Web Tech Department as a Software Development Intern, I had the opportunity to learn new skills and apply them to real-world projects. One of the notable projects I worked on was the development of a chat application that is available on GitHub. Through this project, I gained practical experience in software development, including coding, testing, and project management. Overall, my internship provided me with valuable insights into the industry and enhanced my skills in software development."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Machine Learning (Acmegrade)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>C++</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Wordpress</li>
    <li>WIX</li>
    <li>Shopify</li>
    <li>Git</li>
    <li>Trello</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>Adobe Premiere Pro</li>
    <li>Adobe After Effects</li>
  </ul>
</BaseLayout>
