---
import BaseLayout from "../layouts/BaseLayout.astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<BaseLayout title="Services">
  <div class="pb-2">
    <div class="text-3xl w-full font-bold mb-5">Services</div>
    <p class="pb-2">
      I am currently working as a freelancer and also running a digital agency
      called Finesse. At Finesse, we offer a wide range of services to help our
      clients establish and grow their online presence. Our services include
      website design and development, social media management, search engine
      optimization, content creation, and digital marketing strategy.
    </p>
    <p>
      I take pride in delivering high-quality work that exceeds my clients'
      expectations, and my team at Finesse shares the same commitment to
      excellence. You can learn more about our services and view our portfolio
      by visiting our website at Finesse.
    </p>
  </div>

  <div class="space-y-4 pt-4">
    <ServiceCard
      img="/images/services/marketing.webp"
      title="SOCIAL MEDIA MARKETING"
      description="Our team of social media experts will help you reach your target audience and drive engagement, with strategies tailored to your unique brand and objectives."
    />
    <div class="divider my-0"></div>
    <ServiceCard
      img="/images/services/web dev.webp"
      title="WEB DEVLOPMENT"
      description="We specialize in designing and developing custom websites that showcase your brand and provide a seamless user experience, optimized for performance and results."
    />
    <div class="divider my-0"></div>
    <ServiceCard
      img="https://images.unsplash.com/photo-1595675024853-0f3ec9098ac7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      title="APP DEVELOPMENT"
      description="From concept to launch, we'll help you bring your app idea to life, with innovative and engaging solutions that keep your users coming back for more."
    />
    <div class="divider my-0"></div>
    <ServiceCard
      img="https://images.unsplash.com/photo-1536765659537-ac6b544ea73b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      title="DIGITAL STRATEGY"
      description="We take a data-driven approach to digital strategy, helping you optimize your online presence and drive measurable results across all channels."
    />
    <div class="divider my-0"></div>
    <ServiceCard
      img="/images/services/seo.webp"
      title="SEARCH ENGINE OPTIMIZATION"
      description="Boost your online presence with our SEO services. Our experts will create a custom strategy to improve your visibility, focusing on keywords, content, and technical optimization."
    />
    <div class="divider my-0"></div>
    <ServiceCard
      img="/images/services/graphic design.webp"
      title="GRAPHIC DESIGN"
      description="Create a unique and memorable brand identity with our tailored graphic design services, including logos, marketing collateral, and social media graphics that stand out and leave a lasting impression."
    />
  </div>
</BaseLayout>
