---
const { img, title, description, link } = Astro.props;
---

<div class="card lg:h-64 lg:card-side bg-base-100 shadow-xl">
  <figure><img src={img} alt={title} /></figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="card-actions justify-start">
      <button class="btn btn-outline ml-5">
        <a href="https://www.teamfinesse.in/" target="_blank">Explore</a
        ></button
      >
    </div>
  </div>
</div>
